* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(media/back2.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgb(192, 189, 189);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: #3a3a3a;
    color: white;
    padding: 12px; 
    border-radius: 5px;
    text-decoration: none; 
    margin: 10px 0;
    transition: background-color 0.3s ease;
    font-size: 16px; 
}

.link-btn img {
    width: 24px; 
    height: 24px; 
    margin-right: 10px;
}

.link-btn:hover {
    background-color: #560306;
}

p {
    font-style: italic;
}

.audio-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.audio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.audio-btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.audio-btn:hover {
    transform: scale(1.05);
}